<table class="table table-hover">
  <thead>
  <tr>
    <th>Style</th>    
    <th>Average Rating</th>
  </tr>
  </thead>

  <tbody>
  <% styles.each do |style| %>
      <tr>
        <td><%= link_to style, style %></td>  
        <td><%= style.beers.inject(0) {|sum, beer| sum + beer.average_rating} / style.beers.count %></td>
        
      </tr>
  <% end %>
  </tbody>
</table>