<table class="table table-hover">
  <thead>
  <tr>
    <th>Style</th>    
    <th>Average Rating</th>
  </tr>
  </thead>

  <tbody>
  <% scores.each do |score| %>
      <tr>        
        <td><%= score.last %></td> 
        <td><%= round(score.first) %></td>        
      </tr>
  <% end %>
  </tbody>
</table>