<h1>Styles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style, style %></td>
        <td><%= link_to 'Edit', edit_style_path(style), class:'btn btn-warning white-text' if current_user%></td>
        <td><%= link_to 'Destroy', style, class:'btn btn-danger white-text', method: :delete, data: { confirm: 'Are you sure?' } if current_is_admin %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to('New Style', new_style_path) if current_user %>